@import "iconfont.css";
* {
  padding: 0;
  margin: 0;
}
.box {
  width: 500px;
  height: 400px;
  background: orange;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-position: 30% 20%;
}
.box .inner {
  width: 300px;
  height: 300px;
  border: 1px solid;
}
