* {
  padding: 0;
  margin: 0;
}
body {
  width: 800px;
  height: 800px;
  background: rgba(212, 119, 119, 0.411);
  display: flex;
}
body .inner {
  border: 1px solid;
  background-image: url("../images/2.jpeg");
  background-repeat: no-repeat;
  background-position: 30% 20%;
}
